.botones {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;

}

.boton {
  margin-bottom: 2%;
  background-color: #6b21a8;
  color: #fff;
  font-family: 'Cairo', sans-serif;
  font-weight: 900;
  font-size: 1rem;
  padding: 0.44em 1.11em;
  border: none;
  border-radius: 1.25em;
  cursor: pointer;
}



.botonSecundario {
  font-weight: 700;
  margin-bottom: 2%;
  padding: 0.75em 1.5em;
  background-color: transparent;
  padding: 0.44em 1.11em;
  color: #ca66eb;
  border-radius: 1.6rem;
  font-size: 0.75rem;
  cursor: pointer;
}
