@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600&family=Marcellus&display=swap');

* {
  box-sizing: border-box;
 border: red 1px solid;
}

body {
  line-height: 1.6;
}

.sesion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  background-image: url('/src//assets/imagenes/fondotarjeta.jpg ') ;
  background-size: cover;
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen */

  
 
  max-width: 1100px;
  margin: 50px auto;
  border-radius: 32px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.tituloSeccion {
  font-size: 2.75rem;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
  color: #000000;
  font-family: 'EB Garamond';
  background-color: #f5edea15;
}

.titulo {
  font-size: 2rem;
  font-weight: 600;
  margin: 30px 0 15px;
  text-align: center;
  color: #000000; 
  font-family: 'EB Garamond';
  background-color: #f5edea10;
}

.descripcion {
  font-size: 1.4rem;
  font-weight: 400;
  max-width: 700px;
  text-align: center;
  margin-bottom: 40px;
  opacity: 0.95;
  color: #000000;
  font-family: 'Nunito';
  background-color: #f5edea11;
}
.descripcion2 {
  font-size: 1.4rem;
  font-family: 'Nunito';
  font-weight: 400;
  color: #5C3D3B;
  margin-top: -20px;
  max-width: 850px;
  line-height: 1.5;
  margin: auto;
  text-align: center;
 
  
}


.caracteristicas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  width: 100%;
  margin-bottom: 50px;
  padding: 0 20px;
  background-color: #f5edea00;
}

.caracteristica {
  background-color: #fbf8ef0e;
  border-radius: 16px;
  padding: 25px 20px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.2s ease;
}

.caracteristica:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.icono {
  font-size: 2.5rem;
  color: #c90fa0;
  margin-bottom: 12px;
  background-color: #fbf8ef0a;
}


.caracteristica p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #000000;
  background-color: #fbf8ef15;
}
.caracteristica p strong {
  background-color: #ffffff05;
  color: #000000;

}

.boton {
  background: #7c0168;
  color: #fff;
  padding: 14px 32px;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.boton:hover {
  background: #e600a1;
  transform: scale(1.03);
}
