@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Nunito:wght@400;700&family=Cairo:wght@400;600&display=swap');



.tituloSeccion {
    font-size: clamp(2.5rem, 4.1vw, 4.3rem);
    font-weight: 650;
    text-align: center;
    justify-content: center;
    color: #000000;
    font-family: 'EB Garamond';
    background-color: #f5edea15;
    margin-top: 50px ;
    margin-bottom: 40px;
    
}
  .descripcion {
    font-size: clamp(1rem, 3vw, 2rem);
    font-family: 'Nunito';
    font-weight: 400;
    color: #5C3D3B;
    max-width: 850px;
    line-height: 1.5;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    
  }

.container {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    justify-content: center;
    padding: 1.5rem;
    background: #ffffff;
  }
  
  .cardPrincipal {
    display: flex;
    flex-direction: column;
    border: 1px solid #800089;
    border-radius: 1rem;
    overflow: hidden;
    max-width: 850px;
    box-shadow: 0 4px 12px #0000008d;
    position: relative;
  }
  
  .imagePrincipal {
    min-height: 300px;
    background-image: url('../../assets/imagenes/banner2.webp');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: 50%; 
}


  .contentPrincipal {
    padding: 1.5rem;
    font-family: 'Nunito'; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
  .etiquetaPrincipal {
    background-color: #6b21a8;
    color: white;
    padding: 0.25rem 0.75rem;
    border-radius: 999px;
    font-size: 0.75rem;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0.75rem;
    position: absolute;
    top: 10px; 
    left: 10px; 
    z-index: 1; 
  }
  
  h2 {
    color: #6b21a8;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0px;
    font-family: 'EB Garamond';
    font-weight: 700;
    font-size: 2rem;
  }

  .icon {
    min-height: 50px;
    min-width: 50px;
  }



  
  .listaBeneficios {
    display: flex;
    
    flex-wrap: nowrap;
    gap: 1.5rem; 
    margin-top: 1rem;
    list-style: none;
    justify-content: center; 
    padding: 1%;
    border-radius: 15px;
    background: #6b21a800;  
  }
  
  .listaBeneficios li {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    font-size: 1rem; 
    color: #000000;
    text-align: center;
    background: #6b21a800;   
  }
  
  .iconoInline {
    font-size: 2rem; 
    margin-bottom: 0.5rem; 
    color: var(--color-icono, #000000); 
    flex-shrink: 0;
    background: #6b21a800;  
  }
  

  
  p {
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: 'Nunito';
    
  }
  

  

  .botonPrincipal {
    background-color: #6b21a8;
    color: white;
    padding: 0.5rem 1rem;
    border: 1px solid #800089;
    border-radius: 1.25em;
    font-weight: bold;
    cursor: pointer;
    font-family: 'EB Garamond';
    font-size: 1rem;
  }

  .cardSecundario {
    max-width: 500px;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 12px #0000008f;
    align-self: flex-start;
    border: 1px solid #8D2C24;
    position: relative;
  }
  .secundaria {
    height: 300px;
    background-image: url('../../assets/imagenes/circuloMujeres.webp');
    background-size: 100%;
    background-position: 50% 90%;
    padding: 0;
    margin: 0;
    
  }
  
  .etiquetaSecundaria {
    background-color:#8D2C24;
    color: white;
    padding: 0.25rem 0.75rem;
    border-radius: 999px;
    font-size: 0.75rem;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0.75rem;
    
    position: absolute;
    top: 10px; 
    left: 10px; 
    z-index: 1; 

  }
  .cardSecundario h2 {
    color: #8D2C24;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0px;

  }
  


  
  .botonSecundario {
    background-color: white;
    color: white;
    border: 2px solid #b12f20;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 750;
    cursor: pointer;
    text-decoration: none;
    border-radius: 1.25em;
    font-family: 'EB Garamond';
    font-size: 1rem;
  }
  .icon {
    font-size: 1.25rem;
  }
  



  .botonesCard {
    display: flex;
    
    gap: 1rem;
  }

  .botonPrincipal,
  .botonSecundario {
    flex: 1;
    text-align: center;
  }




 
  


  @media (max-width: 1080px) {
  .container {
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .descripcion {
    font-size: 1.3rem;
    max-width: 800px;
  }

  .cardPrincipal,
  .cardSecundario {
    max-width: 80%;
    margin: 0 auto;
  }

  .imagePrincipal,
  .secundaria {
    height: 280px;

  }
  .secundaria {
    background-position:  50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
    

    
  }

  h2 {
    font-size: 1.75rem;
  }


  .listaBeneficios li {
    font-size: 0.95rem;
  }

   p {
    font-size: 1.25rem;
    line-height: 1.5;
    
  }
}





@media (max-width: 930px) {

  .tituloSeccion {
    font-size: clamp(2.2rem, 5.5vw, 3.1rem);
  
    
}
  .descripcion {
    font-size: clamp(0.95rem, 3vw, 1.35rem);
  
    
  }
  .cardPrincipal,
  .cardSecundario {
    max-width: 90%;
  }

  .imagePrincipal,
  .secundaria {
    height: 250px;
  }
   .secundaria {
    background-position:  50% 70%;
   }

  h2 {
    font-size: 1.5rem;
    
  }
  .descripcion {
    font-size: 1.3rem;
    max-width: 90%;
  }
    p {
    font-size: 1.25rem;
    line-height: 1.5;
    
  }



  .listaBeneficios {
    flex-wrap: nowrap;
    gap: 1rem;
  }

  .listaBeneficios li {
    font-size: 0.9rem;
  }

  .botonPrincipal,
  .botonSecundario {
    font-size: 0.85rem;
    padding: 0.6rem 1rem;
  }
}

@media (max-width: 780px) {

    .tituloSeccion {
    font-size:clamp(2.4rem, 7vw, 3.2rem);
  
    
}
  .descripcion {
    font-size: clamp(1rem, 4vw, 1.4rem);
  
    
  }
  .container {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    
    
    
  }

  .cardPrincipal,
  .cardSecundario {
    width: 90%;
    margin-bottom: 2rem;
  }

  .imagePrincipal,
  .secundaria {
    height: 220px;
   
  }
     .secundaria {
    background-position:  50% 70%;
   }

  h2 {
    font-size: 1.5rem;
  }
  .descripcion {
    font-size: 1.3rem;
    max-width: 90%;
    padding: 0 5%;
  }

  .listaBeneficios {
    justify-content: center;
  }

  .listaBeneficios li {
    font-size: 0.85rem;
  }

  p {
    font-size: 1.11rem;
  }
}




  @media (max-width: 600px) {

    .tituloSeccion{
    font-size: clamp(2.4rem, 8vw, 3.2rem);
    }
  .descripcion {
    font-size: clamp(1rem, 4vw, 1.4rem);
  }
    .container{
      padding-left: 0%;
      padding-right: 0%;
    }
    
  .cardPrincipal,
  .cardSecundario {
    width: 100%;
   
    border-radius: 0.75rem;
    
  }

  .imagePrincipal,
  .secundaria {
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  
  .secundaria {
    background-position:  50% 75%;
   }

  h2 {
    font-size: 1.5rem;
    flex-direction: row;
    text-align: center;
  }
    .descripcion {
    font-size: 1.2rem;
    max-width: 95%;
    padding: 0 4%;
    text-align: center;
    line-height: 1.6;
  }



  .listaBeneficios {
    flex-direction: row;
    align-items:center;
    gap: 0.8rem;
  }

  .listaBeneficios li {
    font-size: 0.75rem;
    width: 90%;
  }

  .botonPrincipal,
  .botonSecundario {
    width: 100%;
    font-size: 0.9rem;
    padding: 0.5rem 0.75rem;
    text-align: center;
  }

  p {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  h2 {
    font-size: 1.4rem;
    text-align: left;
  }
  
}
@media (max-width: 400px) {
    h2 {
    font-size: 1.33rem;
    
  }
  .secundaria {
    background-position:  50% 90%;
   }
  .tituloSeccion {
    font-size: clamp(2.4rem, 7vw, 3.2rem);
  }
  .descripcion {
    font-size: clamp(1rem, 4vw, 1.4rem);
  }
   .cardPrincipal,
  .cardSecundario {
    max-width: 95%;
    margin: 0 auto;
  }
    p {
    text-align: justify;
    hyphens: auto;
    word-spacing: -0.1rem;



}

}