@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Nunito:wght@400;700&family=Cairo:wght@400;600&display=swap');



.tituloSeccion {
    font-size: clamp(2.5rem, 4.1vw, 4.3rem);
    font-weight: 650;
    text-align: center;
    justify-content: center;
    color: #000000;
    font-family: 'EB Garamond';
    background-color: #f5edea15;
    margin-top: 50px ;
    margin-bottom: 40px;
    
}
  .descripcion {
    font-size: clamp(1rem, 3vw, 2rem);
    font-family: 'Nunito';
    font-weight: 400;
    color: #5C3D3B;
    max-width: 850px;
    line-height: 1.5;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    
  }

.container {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    justify-content: center;
    padding: 1.5rem;
    background: #ffffff;
  }
  
  .cardPrincipal {
    display: flex;
    flex-direction: column;
    border: 1px solid #800089;
    border-radius: 1rem;
    overflow: hidden;
    max-width: 850px;
    box-shadow: 0 4px 12px #0000008d;
    position: relative;
  }
  
  .imagePrincipal {
    height: 300px;
    background-image: url('../../assets/imagenes/meditacion.png');
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: 50% 77%; /* Centra la imagen dentro del contenedor */
}

  .contentPrincipal {
    padding: 1.5rem;
    font-family: 'Nunito'; 
    height: auto;
  }
  
  .etiquetaPrincipal {
    background-color: #6b21a8;
    color: white;
    padding: 0.25rem 0.75rem;
    border-radius: 999px;
    font-size: 0.75rem;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0.75rem;
    position: absolute;
    top: 10px; /* Ajusta según lo necesario */
    left: 10px; /* Ajusta según lo necesario */
    z-index: 1; /* Asegura que se muestre sobre la imagen */
  }
  
  h2 {
    color: #6b21a8;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0px;
    font-family: 'EB Garamond';
    font-weight: 700;
    font-size: 2rem;
  }

  .icon {
    min-height: 50px;
    min-width: 50px;
  }



  
  .listaBeneficios {
    display: flex;
    
    flex-wrap: nowrap;
    gap: 1.5rem; /* Aumenté el espacio entre los íconos */
    margin-top: 1rem;
    padding: 0;
    list-style: none;
    justify-content: center; /* Centra los íconos en la fila */
    padding: 10px;
    border-radius: 15px;
    background: #6b21a800;  
  }
  
  .listaBeneficios li {
    display: flex;
    flex-direction: column; /* Alinea los íconos arriba y los textos abajo */
    align-items: center; /* Centra el contenido */
    font-size: 1rem; /* Aumenté un poco el tamaño del texto */
    color: #000000;
    text-align: center;
    background: #6b21a800;   /* Alinea el texto al centro */
  }
  
  .iconoInline {
    font-size: 2rem; /* Aumenté el tamaño del icono */
    margin-bottom: 0.5rem; /* Añadí espacio entre el icono y el texto */
    color: var(--color-icono, #000000); /* Usé el color que ya tienes definido */
    flex-shrink: 0;
    background: #6b21a800;  
  }
  

  
  p {
    font-size: 1.25rem;
    line-height: 1.5;
    
  }
  

  

  .botonPrincipal {
    background-color: #6b21a8;
    color: white;
    padding: 0.75rem 1.25rem;
    border: 1px solid #800089;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    
    
  }


  .botonPrincipal:hover {
    transform: scale(1.05);
    background-color: #6b21a8;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .botonSecundario:hover {
    transform: scale(1.05);
    background-color: #a52b1e;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  }
  
  
  .cardSecundario {
    max-width: 500px;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 12px #0000008f;
    align-self: flex-start;
    border: 1px solid #8D2C24;
    position: relative;
  }
  .secundaria {
    height: 300px;
    background-image: url('../../assets/imagenes/Img3.jpeg');
    background-size: 100%;
    background-position: 50% 65%;
    padding: 0;
    margin: 0;
    
  }
  
  .etiquetaSecundaria {
    background-color:#8D2C24;
    color: white;
    padding: 0.25rem 0.75rem;
    border-radius: 999px;
    font-size: 0.75rem;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0.75rem;
    
    position: absolute;
    top: 10px; /* Ajusta según lo necesario */
    left: 10px; /* Ajusta según lo necesario */
    z-index: 1; /* Asegura que se muestre sobre la imagen */

  }
  .cardSecundario h2 {
    color: #8D2C24;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0px;

  }
  


  
  .botonSecundario {
    background-color: white;
    color: #7B3028;
    border: 2px solid #7B3028;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .icon {
    font-size: 1.25rem;
  }
  



  .botonesCard {
    display: flex;
    
    gap: 1rem;
  }

  .botonPrincipal,
  .botonSecundario {
    flex: 1;
    text-align: center;
  }




 
  


  @media (max-width: 1080px) {
  .container {
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .descripcion {
    font-size: 1.3rem;
    max-width: 800px;
  }

  .cardPrincipal,
  .cardSecundario {
    max-width: 80%;
    margin: 0 auto;
  }

  .imagePrincipal,
  .secundaria {
    height: 280px;

  }
  .secundaria {
    background-position:  50% 49%;
    background-size: cover;
    background-repeat: no-repeat;
    

    
  }

  h2 {
    font-size: 1.75rem;
  }


  .listaBeneficios li {
    font-size: 0.95rem;
  }

   p {
    font-size: 1.25rem;
    line-height: 1.5;
    
  }
}





@media (max-width: 930px) {

  .tituloSeccion {
    font-size: clamp(2.2rem, 5.5vw, 3.1rem);
  
    
}
  .descripcion {
    font-size: clamp(0.95rem, 3vw, 1.35rem);
  
    
  }
  .cardPrincipal,
  .cardSecundario {
    max-width: 90%;
  }

  .imagePrincipal,
  .secundaria {
    height: 250px;
  }
   .secundaria {
    background-position:  50% 50%;
   }

  h2 {
    font-size: 1.5rem;
    
  }
  .descripcion {
    font-size: 1.3rem;
    max-width: 90%;
  }
    p {
    font-size: 1.25rem;
    line-height: 1.5;
    
  }



  .listaBeneficios {
    flex-wrap: nowrap;
    gap: 1rem;
  }

  .listaBeneficios li {
    font-size: 0.9rem;
  }

  .botonPrincipal,
  .botonSecundario {
    font-size: 0.85rem;
    padding: 0.6rem 1rem;
  }
}

@media (max-width: 780px) {

    .tituloSeccion {
    font-size:clamp(2.4rem, 7vw, 3.2rem);
  
    
}
  .descripcion {
    font-size: clamp(1rem, 4vw, 1.4rem);
  
    
  }
  .container {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    
    
    
  }

  .cardPrincipal,
  .cardSecundario {
    width: 90%;
    margin-bottom: 2rem;
  }

  .imagePrincipal,
  .secundaria {
    height: 220px;
    background-position: center;
  }
     .secundaria {
    background-position:  50% 51%;
   }

  h2 {
    font-size: 1.5rem;
  }
  .descripcion {
    font-size: 1.3rem;
    max-width: 90%;
    padding: 0 5%;
  }

  .listaBeneficios {
    justify-content: center;
  }

  .listaBeneficios li {
    font-size: 0.85rem;
  }

  p {
    font-size: 1.11rem;
  }
}




  @media (max-width: 600px) {

    .tituloSeccion{
    font-size: clamp(2.4rem, 8vw, 3.2rem);
    }
  .descripcion {
    font-size: clamp(1rem, 4vw, 1.4rem);
  }
    .container{
      padding-left: 0%;
      padding-right: 0%;
    }
    
  .cardPrincipal,
  .cardSecundario {
    width: 100%;
   
    border-radius: 0.75rem;
    
  }

  .imagePrincipal,
  .secundaria {
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  
  .secundaria {
    background-position:  50% 55%;
   }

  h2 {
    font-size: 1.75rem;
    flex-direction: row;
    text-align: center;
  }
    .descripcion {
    font-size: 1.2rem;
    max-width: 95%;
    padding: 0 4%;
    text-align: center;
    line-height: 1.6;
  }



  .listaBeneficios {
    flex-direction: row;
    align-items:center;
    gap: 0.8rem;
  }

  .listaBeneficios li {
    font-size: 0.75rem;
    width: 90%;
  }

  .botonPrincipal,
  .botonSecundario {
    width: 100%;
    font-size: 0.9rem;
    padding: 0.5rem 0.75rem;
    text-align: center;
  }

  p {
    font-size: 1rem;
  }
}
@media (max-width: 400px) {
  .tituloSeccion {
    font-size: clamp(2.4rem, 7vw, 3.2rem);
  }
  .descripcion {
    font-size: clamp(1rem, 4vw, 1.4rem);
  }
   .cardPrincipal,
  .cardSecundario {
    max-width: 95%;
    margin: 0 auto;
  }

}