@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Nunito:wght@400;700&family=Cairo:wght@400;600&display=swap');

.titulo {
  font-size: clamp(2.4rem, 7vw, 3.2rem);         /* Tamaño grande */
  font-weight: 650;             /* Negrita intermedia */
  text-align: center;
  justify-content: center;
  color: #000000;               /* Negro inicialmente */
  font-family: 'EB Garamond';   /* Tipografía serif elegante */
   
  margin-top: 50px;
  margin-bottom: 40px;
}


@media (max-width: 1080px) {

  .titulo {
    font-size: clamp(2.3rem, 3.8vw, 3.8rem);
    
  }

 
}

@media (max-width: 930px) {

  .titulo {
    font-size: clamp(2.2rem, 5.5vw, 3.1rem);
    
  }

}
@media (max-width: 780px) {

  .titulo {
    font-size: clamp(2.4rem, 7vw, 3.2rem);
    
  }

}
@media (max-width: 600px) {

  .titulo {
    font-size: clamp(2.4rem, 8vw, 3.2rem);
    
  }

}
@media (max-width: 400px) {
 .titulo {
    font-size: clamp(2.4rem, 7vw, 3.2rem);

  }


}
