
.text h2{
  font-size: 2.75rem;
  font-weight: 650;
  
  text-align: center;
  justify-content: center;
  color: #000000;
  font-family: 'EB Garamond';
  background-color: #f5edea15;
  margin-top: 75px ;
  margin-bottom: 40px;
    }
  
.text p{
  font-size: 1.4rem;
  font-family: 'Nunito';
  font-weight: 400;
  color: #5C3D3B;
  max-width: 850px;
  line-height: 1.5;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;  
  }

    /*

  .descripcion {
    
    
  }
*/

.carouselContainer {
    width: 100%;
    
    background-color: #FBF8EF; /* gris claro */
  }
  
  .swiper {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    
  }
  
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .slide img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }


  .thumbsSwiper {
    margin-top: 1rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .thumbSlide {
    opacity: 0.5;
    cursor: pointer;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  
  .thumbSlide img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 0.5rem;
    transition: opacity 0.3s ease;
  }
  
  .swiper-slide-thumb-active {
    opacity: 1 !important;
    box-shadow: 0 0 0 3px #6366f1; /* Borde violeta */
  }
  