.container {
  border-top: 1px solid #374151;
  margin-top: 2rem;
  padding-top: 1rem;
  background-color: #00000000;
  color: #000000;
  padding: 3rem 2rem 2rem;
  font-family: 'Nunito', sans-serif;
  background: #f5f2fc;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
}

.column {
  flex: 1;
  min-width: 250px;
}

.title {
  font-size: 1.6rem;
  font-weight: 700;
  color: #000000;
}

.title span {
  color: #a78bfa; /* lila suave */
}

.subtitle {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.description {
  font-size: 0.95rem;
  line-height: 1.6;
  margin: 0.5rem 0 1.25rem;
}



.nota {
  display: block;
  font-size: 0.8rem;
  color: #000000;
  margin-top: 0.75rem;
}

.social {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
}

.social a {
  color: #000000;
  transition: color 0.3s ease;
}

.social a:hover {
  color: #a78bfa;
}

.bottom {
  border-top: 1px solid #374151;
  margin-top: 2rem;
  padding-top: 1rem;
  font-size: 0.85rem;
  color: #000000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
}
