@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Nunito:wght@400&display=swap');
.seccion {
  background-color: #ffffff;

  
}
.contenido {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; /* ✅ esto es clave */
  gap: 40px; /* espaciado más controlado */
  align-items: center;
  justify-content: center; /* o space-between si quieres separación */
  padding: 40px;
}
.imagen {
  width: 60%;
  height: 400px;
  background-image: url("../../assets/imagenes/3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* 🎯 parallax */
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
