@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Nunito:wght@400&display=swap');
.seccion {
  background-color: #FBF8EF;
  
}
.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  

}

.cn {
  width: 100%;
  height: auto;
  max-width: 1000px;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}


.cn img{
  height: 500px;
  border-radius: 15%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.501);

}
.cn h2 {
  font-family: 'EB Garamond', serif;
  font-size: 1.5rem;
  color: #6B21A8;
  text-align: center;
  justify-content: center;
  margin-top: 0.5rem;
  max-width: 900px;
}
.cn h3 {
  font-family: 'EB Garamond', serif;
  font-size: 2rem;
  color: #000000;
  text-align: center;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0;
 
}
