@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Nunito:wght@400&display=swap');

.seccion {
  background-color: #ffffff;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ts1 {
  font-family: 'EB Garamond', serif;
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: #000000;
  text-align: justify;
  justify-content: center;
  max-width: 900px;
}

.ts1 p {
  margin: 0;
}

.cn {
  width: 100%;
  height: auto;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.cn img {
  height: 500px;
}

.ts3 {
  font-family: 'EB Garamond', serif;
  font-size: 1.5rem;
  color: #000000;
  text-align: center;
  justify-content: center;
  max-width: 900px;
}

.cn2 {
  max-width: 900px;
}

.cn2 img {
  width: 750px;
  display: flex;
  margin: 0 auto;
}

.texto p {
  font-family: 'Nunito', sans-serif;
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: #000000;
  text-align: justify;
  margin-top: 0.5rem;
}






@media (max-width: 800px) {
  
  .cn img {
    width: 33%;
    height: auto;
    
  }

 
}

@media (max-width: 550px) {
  .ts1 p {

  font-size: clamp(0.95rem, 2vw, 1rem);
 
}
  .cn {
    gap: 0.5rem;
    
    align-items: center;
  }


  .cn img {
    width: 40%;
    height: 375px;

  }

  .texto p {
    font-size: clamp(0.95rem, 1.5vw, 1rem);
    margin-top: 0.5rem;
  }

    .parrafoFinal {
    font-size: clamp(0.95rem, 1.5vw, 1rem);
    margin-top: 0rem;
  }


}

@media (max-width: 350px) {
    .cn img {
    width: 33%;
    height: 325px;

  }
    .texto p {
    font-size: clamp(0.85rem, 1.5vw, 1rem);
    
  }


}









/* NUEVOS ESTILOS PARA CÍRCULO DE MUJERES */
.cn2 p {
  font-family: 'Nunito', sans-serif;
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: #000000;
  text-align: justify;
  margin-top: 1rem;
  
}

.actividades {
  font-family: 'Nunito', sans-serif;
  margin-top: 2rem;
}

.actividades h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.tarjetas {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 900px;
 
}

.tarjeta {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  flex: 1 1 45%;
  min-width: 25%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}



.tarjeta p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #000000;
  
  text-align: center;
  
}

.infoCita p {
  margin: 0.4rem 0;
  font-size: 1rem;
  color: #000000;
  text-align: center;
  margin-bottom: 1.5rem;
}






/* RESPONSIVE CÍRCULO DE MUJERES */

@media (max-width: 800px) {
  .cn2 img {
    width: 100%;
    height: auto;
  }

  .tarjetas {
    
    
    justify-content: center;
    min-width: none;
  }

  .tarjeta {
    flex: 1 1 100%;
    max-width: 350px;
  }
}

@media (max-width: 550px) {
  .cn2 p {
    font-size: clamp(0.95rem, 2vw, 1rem);
    margin-top: 0.5rem;
  }

  .tarjeta p {
    font-size: 0.95rem;
  }

  .infoCita p {
    font-size: 0.95rem;
    margin-bottom: 1rem;
  }
  .tarjetas {
    
    align-items: center;
    padding: 0;
  }


  .tarjeta {
    width: 90%;
    padding: 0rem;
  }
  .tarjeta p {
    
    font-size: 0.75rem;
  }
}

@media (max-width: 350px) {
  .cn2 p {
    font-size: clamp(0.85rem, 1.5vw, 1rem);
  }

  .tarjeta p,
  .infoCita p {
    font-size: 0.85rem;
  }


}

