@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Nunito:wght@400&display=swap');
.seccion {
  background-color: #ffffff;
  
}
.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.ts1 {
  
  font-family: 'EB Garamond', serif;
  font-size: 1.5rem;
  color: #000000;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
  max-width: 900px;
}
.cn {
  width: 100%;
  height: auto;
  max-width: 900px;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.cn img{
  height: 500px;
  

}

.ts3 {
  
  font-family: 'EB Garamond', serif;
  font-size: 1.5rem;
  color: #000000;
  text-align: center;
  justify-content: center;
  
  max-width: 900px;
}
.cn2 {
  max-width: 900px;
}
.cn2 img {
  width: 750px;
}
