@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600&family=Marcellus&display=swap');

/* ===== Sección Encabezado de Opiniones (NO MODIFICAR) ===== */

.servicios {
  text-align: center;
  background: #ffffff;
}

.tituloSeccion {
  font-size: 2.75rem;
  font-weight: 650;
  text-align: center;
  justify-content: center;
  color: #000000;
  font-family: 'EB Garamond';
  background-color: #f5edea15;
  margin-top: 50px;
  margin-bottom: 40px;
}

.descripcion {
  font-size: 1.5rem;
  font-family: 'Nunito';
  font-weight: 400;
  color: #5C3D3B;
  max-width: 850px;
  line-height: 1.5;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}
/* ===== NUEVO Estilo para Tarjetas tipo Instagram ===== (con Flexbox) */

.testimoniosLista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  
}

.testimonioCard {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.484);
  transition: transform 0.3s ease;
  min-height: 120px;
  border: 2px solid #800089;

  /* Tamaño base para 3 por fila */
  flex: 1 1 calc(33.33% - 30px);
  max-width: calc(33.33% - 30px);
}

.testimonioCard:hover {
  transform: translateY(-5px);
}

.avatarGrande {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid #8D2C24;
  flex-shrink: 0;
}

.contenidoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nombrePersona {
  font-size: 1.1rem;
  font-weight: 600;
  color: #8D2C24;
  margin-bottom: 0px;
  font-family: 'Marcellus', serif;
  margin-top: 0;
}

.usuarioPersona {
  font-size: 0.95rem;
  color: #555;
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: 'Karla', sans-serif;
}

.textoComentario {
  font-size: 1rem;
  font-family: 'Karla', sans-serif;
  color: #333;
  line-height: 1.4;
  max-width: 100%;
  margin-top: 5px;


  
}


.verMasBtn {
  background-color: transparent;
  border: none;
  color: #8D2C24;
  font-size: 1.1rem;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: auto;
  transition: color 0.3s ease;
}

.verMasBtn:hover {
  color: #5c1d19;
}


/* ===== Responsividad ===== */

@media (max-width: 1024px) {
  .testimonioCard {
    flex: 1 1 calc(50% - 30px);
    max-width: calc(50% - 30px);
  }
}

@media (max-width: 600px) {
  .testimonioCard {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
